<!DOCTYPE html>
<html>
<head>
    <title>Flight Booking App</title>
    <!-- Include Bootstrap CSS or other stylesheets here -->
</head>
<body>
    <nav>
        <!-- Navigation links here -->
        <a href="{{ url_for('home') }}">Home</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{url_for('search_flights')}}">Search</a>
            <a href="{{url_for('my_bookings')}}">My Bookings</a>
            {% if current_user.is_admin %}
                <a href="{{ url_for('admin') }}">Admin Panel</a>
            {% endif %}
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Register</a>
        {% endif %}
    </nav>

    <main>
        <!-- This is where the content from child templates will go -->
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
